:root {
    --purple: #524765;
    --orange: #D08A6B;
    --light-orange: #E6B66F;
    --pink: #C27B75;
    --blue: #425B6B;
    --grey: #efefef;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: fixed linear-gradient(0, var(--purple) 0%, var(--orange) 100%);
}

header {
    background-color: var(--purple);
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
    display: flex;
}

/** Title */
header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    margin: 0;
    float: left;
}
header a, header a:hover {
    margin: auto;
    color: white;
}

/** Container */
.container {
    padding: 0;
    margin: 0;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.container > .row {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

button, input, select {
    /*margin: 10px;*/
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background-color: var(--grey);
}

/** Week */
.container .week {
    display: flex;
    margin: 30px 0;
}
.week .day {
    width: 100%;
    margin: 10px;
    padding: 10px;
    /**border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);*/
    font-size: 20px;
}
.week .day.selected {
    background-color: var(--light-orange);
    color: white;
    box-shadow: none !important;
}

/** Details Container */
.taskDetails {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
}
.taskDetails.pull-right {
    background-color: revert;
    color: black;
}
.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin: auto 0;
}
.details * {
    height: 40px;
}
.details > div {
    padding: 0 40px;
}

.details p, .details h4 {
    color: white;
    margin: 0;
    padding: 0;
    height: unset;
    text-align: end;
    font-size: x-large;
    font-family: 'Roboto Condensed', sans-serif;
}

/** Time */
.details .time {
    display: flex;
}
.details .time p {
    text-align: center;
}
.details .time select {
    border-radius: 20px;
    padding: 3px 5px;
}

.details .twelve-hour-clock {
    padding: 0;
}
.details .twelve-hour-clock button {
    margin: 2px;
    padding: 3px 15px;
}
.details .twelve-hour-clock button.selected {
    background-color: var(--light-orange);
    color: white;
    box-shadow: none !important;
}

/** File Types */
.details .keywords, .details .extensions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

/** Input */
input[type=text] {
    border: 1px black;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

/** Label Buttons */
.details .labelBtn {
    background-color: var(--blue);
    color: white;
    padding: 8px 10px;
    margin: 15px 5px 0 5px;
}

/** Dropdown Button */
.dropdown {
    filter: drop-shadow( 0px 4px 4px rgb(0 0 0 / 37%));
    color: var(--pink);
    cursor: pointer;
}
.dropdown:hover {
    filter: none !important;
    color: var(--pink);
}

/** New Task Button */
#newTaskBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--pink);
    padding: 10px;
    border-radius: 12px 0 0;
    color: white;
}

/** Schedule Container */
.schedule {
    display: flex;
    flex-direction: column;
    border-top: 4px solid var(--purple);
}

.schedule p {
    text-align: center;
    margin: 5%;
}