.container > .row {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

/** Dropdown button */
.dropdown {
    filter: drop-shadow( 0px 4px 4px rgb(0 0 0 / 37%));
    color: #C27B75;
    cursor: pointer;
}
.dropdown:hover {
    filter: none !important;
    color: #C27B75;
}

/** Details Container */
.taskDetails {
    background-color: #524765;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
}

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin: auto 0;
}

.details p, .details h4 {
    color: white;
    margin: 0;
    padding: 0;
    height: unset;
    text-align: end;
    font-size: x-large;
    font-family: 'Roboto Condensed', sans-serif;
}

/** Schedule Container */
.schedule {
    display: flex;
    flex-direction: column;
    border-top: 4px solid #524765;
}

.schedule p {
    text-align: center;
    margin: 5%;
}

/** Input */
input[type=text] {
    border: 1px black;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

.details *{
    height: 40px;
}

button, input, select{
    /*margin: 10px;*/
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background-color: #efefef;
}

.details .time{
    display: flex;
}
.details .time p{
    text-align: center;
}
.details .time select{
    border-radius: 20px;
    padding: 3px 5px;
}


.details .twelve-hour-clock{
    padding: 0;
}

.details .twelve-hour-clock button{
    margin: 2px;
    padding: 3px 15px;
}


.details .twelve-hour-clock button.selected{
    background-color: #E6B66F;
    color: #FFFFFF;
    box-shadow: none !important;
}

.details .varBtn{
    margin-top: 15px;
    background-color: #425B6B;
    color: #FFFFFF;
    padding: 8px 10px;
}

.details > div{
    padding: 0 40px;
}

.taskDetails.pull-right{
    background-color: revert;
    color: black;
}